* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px;
}
form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 5%;
}
form #button {
  color: #fff;
  background: #2d9f0b;
  border: none;
  padding: 10px;
  width: 9%;
}
#message {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#message li {
  padding: 5px 10px;
}
#message li:nth-child(odd) {
  background: #eee;
}
#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
}
